body{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	margin: 0;
	padding: 0;
}

#container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 200px;
	background-color:orange;
}

#contador{
	display: flex;
	justify-content: center;
	font-size:100px;
	font-family: arial;
	color: white;
}
