    {{>partials/header}}

        <!-- exibir conteúdo na tela-->
            Opa, tudo bem?{{name}} você tem {{age}} Anos? É jovem ainda rs.
        <!-- Condicional simples -->
        {{#showOld}}
            Opa, você é ansião manooo, por favor não me xingue rs.
        {{/showOld}}

        <hr/>

        <!-- Listagem -->
        <h2>Lista de produtos</h2>
        <ul>
            {{#produts}}
               <li>{{title}} - R$: {{price}}</li>
            {{/produts}}
        </ul>

         <hr/>

        <!-- Lista todas as frases de uma vez do objeto através do . -->
        <h2>Frases</h2>
        <ul>
            <!-- Condicional simples -->
            {{#frases}}
               <li>{{.}}</li>
            {{/frases}}
            <!-- Condicional Else -->
            {{^frases}}
                Não há a frases mano
            {{/frases}}
        </ul>
    {{>partials/footer}}