.container{
	display: grid;
	gap:10px;
	background-color: #ccc;

	grid-template-areas:
		"item1  item2 item2 "
		"item3 item4 item4" 
		
		
	;

	/*É AQUI QUE VOCÊ VAI CONSTROI O SEU TEMPLATE BASEADO NAS COLUNAS QUE VOCÊ QUER
	INSERIR AQUI
	
	OBS: REPETINDO A COLUNA NO TEMPLATE ÁREA, ELE VAI AUMENTAR A COLUNA ESPECÍFICA
	NO CASO DA COLUNA 1, ELE VAI PEGAR O ESPAÇO TODO

	obs2: se você não quiser preecher uma coluna específica, então você usar o ponto
	para dizer que aquela área é vazia

	obs3: nesse exemplo, a repeitição do item2, gera uma nova linha
	
	*/
}


 .item{
	background-color: #4169E1;
	border-radius: 10px;
	padding: 20px;
	color: white;
	font-size: 20px;
}

.item1{
	grid-area: item1;
}

.item2{
	grid-area: item2;
}

.item3{
	grid-area: item3;
}

.item4{
	grid-area: item4;
}

/*GRID-TEMPLATE AREA: É basicamente um template na qual você pode montar seu grid ou seja suas colunas
de um jeito fácil e rápido


para construir o template area: você precisa definir as areas específicas do seu grid
conforme você criar o seu template area, você pode definir as colunas como quiser


"item1  item1 item2 "
		"item3  item4 item2 "

*/



