 {{>partials/header}}
       <h2>Qual ano você nasceu?</h2>
       <form method="POST">
            <input type="number" name="ano" placeholder="Informe o ano que você nasceu"/>
            <input type="submit" value="Enviar"/>
       </form>
    {{#mostrarIdade}}
        Você tem: {{idade}}
    {{/mostrarIdade}}
 {{>partials/footer}}